@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

/*-----------------------*/
/* General */
/*-----------------------*/

.text-style{
    font-family: 'Work Sans', sans-serif !important;
}

.background-primary {
    background-color: #F47433 !important;
}

.background-secondary {
    background-color: #007D3B !important;
}

.background-third {
    background-color: #E94430 !important;
}

.color-primary {
    color: #F47433;
}

.background-img {
    background-repeat: no-repeat;
    background-size: cover;
}

/*-----------------------*/
/* Navigation Admin */
/*-----------------------*/
body[data-sidebar-size=sm] .navbar-brand-box .logo #logo > h5{
    display: none;
}


/*-----------------------*/
/* Navigation User */
/*-----------------------*/

.nav-color {
    background-color: #F5F5F5;
    color: #666666;
    width: 100%;
}

.logo {
    width: 45px;
}

.search {
    width: 40rem;
}

#category .dropdown-item:hover {
    background-color: #00B455;
}

/*-----------------------*/
/* Login */
/*-----------------------*/

.logo-login {
    width: 55px;
    height: 55px;
}

.login-background{
    background-image: url("../images/background/Login.jpeg");
}

/*-----------------------*/
/* Home Page */
/*-----------------------*/

.home-page-background{
    background-image: url("../images/background/home-page-background.png");
}

.carousel-inner{
    height: 300px;
    display: flex;
    align-items: center;
}

#carousel .carousel-item img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.discount-text p{
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    margin: 0;
}
.discount-text p span{
    font-size: 1em;
    color: #F47433;
}

.dual-color-hr {
    border: none;
    height: 3px;
    background-color: #EDEDED;
    position: relative;
    margin-top: 10px;
    opacity: 75%;
}

.dual-color-hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #E94430;
    border-radius: 5px;
}

.product-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

