@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    font-size: 14px;
}

/*-----------------------*/
/* General */
/*-----------------------*/

.text-style {
    font-family: 'Work Sans', sans-serif !important;
}

.background-primary {
    background-color: #F47433 !important;
}

.background-secondary {
    background-color: #007D3B !important;
}

.background-third {
    background-color: #E94430 !important;
}

.color-primary {
    color: #F47433 !important;
}

.color-secondary {
    color: #007D3B !important;
}

.background-img {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.subtitle-text p {
    font-size: 24px;
    font-weight: bold;
    color: #666666;
    margin: 0;
}

.subtitle-text p span {
    font-size: 1em;
}

.dual-color-hr {
    border: none;
    height: 3px;
    background-color: #EDEDED;
    position: relative;
    margin-top: 10px;
    opacity: 75%;
}

.dual-color-hr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: #E94430;
    border-radius: 5px;
}

.fw-500 {
    font-weight: 500;
}

.fw-700 {
    font-weight: 700;
}

.content {
    min-height: calc(100vh - 49px - 83px - 84px);
}

/*-----------------------*/
/* Navigation Admin */
/*-----------------------*/
body[data-sidebar-size=sm] .navbar-brand-box .logo #logo > h5 {
    display: none;
}


/*-----------------------*/
/* Navigation User */
/*-----------------------*/

.nav-color {
    background-color: #F5F5F5;
    color: #666666;
    width: 100%;
}

.logo {
    width: 45px;
}

.search {
    width: 40rem;
}

#category .dropdown-item:hover {
    background-color: #00B455;
}

/*-----------------------*/
/* Login */
/*-----------------------*/

.logo-login {
    width: 55px;
    height: 55px;
}

.login-background {
    background-image: url("../images/background/Login.jpeg");
}

/*-----------------------*/
/* Home Page */
/*-----------------------*/

.home-page-background {
    background-image: url("../images/background/home-page-background.png");
}

.carousel-inner {
    height: 300px;
    display: flex;
    align-items: center;
}

#carousel .carousel-item img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product-image {
    background-color: #F5F5F5;
    height: 150px;
    object-fit: contain;
}

.banner {
    background-image: url("../images/background/home-page-banner.png");
    height: 200px;
}

.open-hours {
    font-size: 50px;
}

.schedule p {
    font-size: 25px;
}

.logo-footer {
    width: 13%;
}

.footer {
    height: 70px;
    background-color: #000000;
    color: white;
}

/*-----------------------*/
/* Detail Product */
/*-----------------------*/

.detail-product-background {
    background-image: url("../images/background/detail-product-background.png");
}

.detail-product-name {
    font-weight: 600;
    font-size: 40px;
    margin: 0;
}

.detail-product-back i {
    font-size: 16px;
}

.price {
    font-size: 30px;
}

.recommendation {
    height: 200px;
}

/*-----------------------*/
/* Profile */
/*-----------------------*/

.profile-background {
    background-image: url("../images/background/profile-background.png");
}

.profile-icon {
    width: 75.5%;
}

.profile-title p {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.profile-title p span {
    font-size: 1em;
}

.box-shadow {
    box-shadow: 0px 0px 29px 3px rgba(0, 0, 0, 0.1);
}

/*-----------------------*/
/* Cart */
/*-----------------------*/

.cart-background {
    background-image: url("../images/background/cart-background.png");
}

.cart-table td {
    background-color: rgba(0, 0, 0, 0) !important;
    vertical-align: middle;
}

.cart-table td p{
    font-size: 16px;
}

.cart-product-img {
    width: 3em;
}
